body {
    font-family: Arial, Verdana, sans-serif;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo {
    display: inline-block;
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.link {
    display: inline-block;
    padding: 24px 49px;
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
    color: white;
    text-decoration: none;
}

.link:not(:last-child) {
    margin-right: 25px;
}



.download {
    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;
    padding-left: 30px;
    background: url(../img/download.png) no-repeat;
    background-position: left;
    text-decoration-line: none;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.zxc {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}


.sov {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.cov {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.text {
    margin-top: 0;
    margin-bottom: 40px;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}



.blue {
    border-radius: 20px;
    padding: 50px 95px;
    width: 85%;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #3f2aff;

}

.gray-box {
    border-radius: 20px;
    padding: 30px;
    background: #f3f3f3 no-repeat right;
}

.gray {
    background-image: url(../img/decorate-1.png);
}

.gray2 {
    background-image: url(../img/decorate-2.png);
}

.gray-box:not(:last-child) {
    margin-bottom: 40px;
}

.gray-box .text {
    width: 692px;
    margin-bottom: 10px;
}

.ul {
    margin-left: 15px;
    padding: 0;
}

.li a {
    text-decoration: none;
    color: #3f2aff;
    border-bottom: 1px solid #3f2aff;
    font-size: 20px;
    color: #3f2aff;
}

.li::marker {
    color: #3f2aff;
}

.li:not(:last-child) {
    margin-bottom: 20px;
}

img:not(figure img) {
    margin-bottom: 40px;
}

figure {
    margin-left: 0;
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
    font-size: 0;
}

figcaption {
    border: 1px solid #b6b6b6;
    border-top: none;
    padding: 19px 0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.modules-container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.modules-logo img {
  margin: 0;
  margin-bottom: 25px;
}

.transition-to-main {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 50px;
  background: url(../img/arrow.png) no-repeat;
  background-size: 40px 10px;
  background-position: left;
}

.arrow-back {
  font-size: 20px;
  font-weight: 400;
  color: #3f2aff;
  text-decoration: none;
}

.modules-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  color: #3f2aff;
}

.card-title {
  padding-left: 25px;
  font-size: 40px;
  font-weight: 700;
  color: #3f2aff;
  margin: 0;
}

.card-item {
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
  color: #333;
}

.modules-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style-type: none;
}

.modules-card {
  position: relative;
  width: 570px;
  height: 500px;
  box-shadow: 0 0 15px 5px #d4cccc;
}

.modules-card:nth-child(odd) {
  margin-right: 25px;
}

.card-list {
  margin: 0;
  padding-left: 25px;
  list-style-type: none;
}

.modules-card:not(:last-child) {
  margin-bottom: 25px;
}

.card-pic {
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  min-height: 180px;

}

.card-pic1 {
  background-image: url(../img/card-pic1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-pic2 {
  background-image: url(../img/card-pic2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-pic3 {
  background-image: url(../img/card-pic3.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-pic4 {
  background-image: url(../img/card-pic4.png);
  background-position: center;
  background-repeat: no-repeat;
}

.card-number {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 45px;
  font-size: 40px;
  color: rgb(216, 203, 203);
}

.modules-button-more {
  text-align: center;
}

.modules-btn-more {
  width: 274px;
  height: 70px;
  border: 2px solid #3F2AFF;
  font-size: 18px;
  font-weight: 700;
  color: #3f2aff;
  cursor: pointer;
  background-color: white;
}